.block-localgov-publications-page-header-block .lgd-page-title-block__title {
  max-width: initial;
}

.book-navigation--publication {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.book-navigation--publication .next-link {
  margin-left: auto;
}

/* Leaving this in the module until it passes Alpha. */
.lgd-page-title-block__publication-title {
  font-size: var(--page-title-lede-font-size);
  color: var(--color-grey-dark);
  display: block;
}
