
.publication-document {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  margin-bottom: var(--vertical-rhythm-spacing);
}

/* lifted directly from Gov.uk */
.publication-document__thumbnail-image {
  display: block;
  width: auto;
  max-width: 99px;
  height: 140px;
  border: rgba(11,12,12,0.1);
  outline: 5px solid rgba(11,12,12,0.1);
  background: #fff;
  box-shadow: 0 2px 2px rgba(11,12,12,0.4);
  fill: #b1b4b6;
  stroke: #b1b4b6;
}