.publication-document {
  align-items: center;
  display: flex;
  gap: var(--spacing);
  margin-bottom: var(--vertical-rhythm-spacing);
}

.publication-document a {
  font-size: var(--font-size-large);
}

/* lifted directly from Gov.uk */
.publication-document__thumbnail-image {
  background: #fff;
  border: rgba(11, 12, 12, 0.1);
  box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
  display: block;
  fill: #b1b4b6;
  height: 140px;
  max-width: 99px;
  outline: 5px solid rgba(11, 12, 12, 0.1);
  stroke: #b1b4b6;
  width: auto;
}
