.block-localgov-publications-page-header-block .lgd-page-title-block__title {
  max-width: initial;
}

.book-navigation--publication {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.book-navigation--publication--link--label {
  margin-bottom: 0;
}

.book-navigation--publication .next-link {
  margin-left: auto;
}

/* Leaving this in the module until it passes Alpha. */
.lgd-page-title-block__publication-title {
  display: block;
  color: var(--color-grey-dark);
  font-size: var(--page-title-lede-font-size);
}

.block-publication-navigation h2::after {
  display: inline-block;
  margin-inline-start: var(--spacing);
  content: "";
  transition: var(--transition-time);
  transform: rotate(90deg);
  font-size: var(--font-size-larger);
}

.block-publication-navigation h2.expand::after {
  content: "\203A" / "";
}

.block-publication-navigation h2.collapse::after {
  content: "\203A" / "";
  transform: rotate(270deg);
}
