<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="localgovdrupal">
  <description>PHP CodeSniffer configuration for LocalGovDrupal.</description>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <file>src</file>
  <file>config</file>

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal"/>
  <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice"/>

</ruleset>
